.link {
  cursor: pointer;
  transition: transform 150ms ease, background 150ms ease;
  -webkit-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
  -moz-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
  -o-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
  -ms-transform: scale(1) translate3d(0, 0, 0) perspective(1px);
  transform: scale(1) translate3d(0, 0, 0) perspective(1px);
}

.link:hover,
.link:focus {
  transform: scale(1.05);
}
